html {
    background-color: lightgray;
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    color: darkcyan;
}

.name {
font-family: 'Sofia', cursive;
text-align: center;
}

.nc {
color: #ffc627;
}

a:hover {
    color: black;
    font-size: 1.5em;
}

.social {
    display: flex;
    justify-content: space-between;
    height: 8em;
    width: auto;
}

.social img {
    height: 3em;
    width: auto;
    padding: 1em;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25em;
    background-color:#e5f5ef;
    border-radius: 5%;
    margin-left: 3em;
    border: .3em solid #ffc627;
   
  
}

.cards {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-image {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.card-container {
    padding: 3em 3em;
   

}

.card-name {
    font-size: 2em;
    font-weight: bold;
    color: darkcyan;
}

.card-description {
    font-size: 1.2em;
    font-weight: bold;
    color: darkcyan;
}
.card-reveal {
    color: darkcyan;

}

.card-text {
        color: darkcyan;

}

.linkedin {
    max-block-size: 15em;
}


.avatar img {
    border-radius: 100%;
    width: 8em;
    height: auto;
    padding-top: 1em;
    
}

.avatar {
    margin-left: 3em;

}

nav {
    display: flex;
    justify-content: center; 
}

nav a {
    font-size: 1.5em;
    display: inline;
    padding: 1em;
}

@media only screen and (max-width: 470px) {
    nav {
        display: block;
    }

    .social {
   justify-content: center;
    }
}

.name {
    font-size: 3.5em;
    color: darkcyan;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.learning {
    font-size: 2em;
    color:darkcyan;
    text-align: center;
}

.technologies {
    max-block-size: 54em;
    justify-content: center;
}






@media only screen and (max-width: 470px) {

    .technologies {
        size: 20%;
    }
}

.licences {
    font-size: 0.75em;
    color: white;
    padding-top: 3em;
}

.licences_portfolio {
    font-size: 0.75em;
    color: white;
    padding-top: 12em;
    
}
.talk {
    color:darkcyan;
    font-size: 2em;
}

.about p {
   margin: 0 3em 0 3em;
    color: white;
    font-size: 1.5em;
}    
    
.under {
    font-size: 3.5em;
    color: white;
    font-weight: bold;
    letter-spacing: 0.2em;
    padding-top: 1em;
}

@media only screen and (max-width: 470px) {
    .under {
        font-size: 2.5em;
        justify-content: center;
    }
}    

